go 1.22.5

use (
	./shared/envconf
	./shared/dropchan
	./shared/frameipc
	./shared/imageutil
	./shared/mjpeg
	./shared/livefeed
	./shared/streamproto
	./shared/webui
	./services/camera-web-api
	./services/camera-web-restream-detector-api
	./services/camera-web-restream-enhancer-api
	./services/camera-web-restream-upscaler-api
	./services/camera-web-restreamer-api
	./services/camera-recorder
	./services/ffmpeg-streamer
	./services/tcp-camera-backend
)
